[submodule "src/utils/executor/piston"]
	path = src/utils/executor/piston
	url = https://github.com/raksitbell/piston.git
[submodule "src/utils/executor/judge0"]
	path = src/utils/executor/judge0
	url = https://github.com/raksitbell/judge0.git
[submodule "src/utils/ai-tutor"]
	path = src/utils/ai-tutor
	url = https://github.com/raksitbell/codearea_chatbot
